#files {
  min-height: 360px; }

#files-tree {
  min-height: 360px; }

#files-directory {
  min-height: 360px; }

#grid {
  width: 100%;
  padding-top: 10px; }

#prompt {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 20px; }

.chart-title .breadcrumb {
  padding: 0 5px;
  margin-bottom: 0;
  background-color: transparent; }

.disk-nodes {
  padding-left: 0;
  list-style: none;
  background-color: white; }
  .disk-nodes li {
    display: block;
    float: left;
    width: 10px;
    height: 10px;
    padding: 0;
    margin: 0;
    border: 1px solid white;
    background-color: #bdc3c7; }
    .disk-nodes li.used {
      background-color: #3498db; }

.file a {
  text-decoration: none;
  color: #2c3e50; }

.file-icon {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center; }
  .file-icon i.fa {
    font-size: 100px;
    color: #2c3e50; }

.file-meta h3 {
  margin-top: 2px;
  font-size: 18px;
  text-align: center; }

.files-tree {
  padding-left: 0;
  list-style: none; }
  .files-tree li i {
    margin-right: 5px; }

.files-tree-sub {
  margin-left: 5px;
  padding-left: 10px;
  border-left: 1px solid #bdc3c7; }

.prompt {
  position: relative;
  min-height: 150px;
  padding: 5px;
  color: white;
  background-color: black; }

.prompt-screen {
  max-height: 115px;
  margin-bottom: 35px;
  font-family: monaco, courier;
  overflow-y: scroll; }
  .prompt-screen p {
    line-height: 1;
    margin-bottom: 5px; }

.prompt-control {
  position: absolute;
  position: absolute;
  bottom: 5px;
  left: 5px;
  right: 5px; }

.prompt-input {
  width: 100%;
  outline: none;
  border: none;
  background-color: black;
  font-family: monaco, courier; }
