#grid {
  width: 100%;
  padding-top: 0; }

#prompt {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px; }

.breadcrumb {
  padding: 0 5px;
  margin-bottom: 0;
  background-color: transparent; }
