#grid {
  width: 100%;
  padding-top: 10px; }

#prompt {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 20px; }

#files-tree > .chart-wrapper {
  min-height: 400px; }

.files-tree {
  padding-left: 0;
  list-style: none; }
  .files-tree li i {
    margin-right: 5px; }

.files-tree-sub {
  margin-left: 5px;
  padding-left: 10px;
  border-left: 1px solid #bdc3c7; }

#files-directory-files {
  min-height: 400px; }

.breadcrumb {
  padding: 0 5px;
  margin-bottom: 0;
  background-color: transparent; }

#disk-infos ul {
  padding-left: 0;
  list-style: none; }
#disk-infos li {
  display: block;
  float: left;
  width: 10px;
  height: 10px;
  padding: 0;
  margin: 0;
  border: 1px solid white;
  background-color: #bdc3c7; }
  #disk-infos li.used {
    background-color: #3498db; }
