//-------------------------------------------
// Color
//-------------------------------------------

// black
// @type color
$color-black: rgb(44, 62, 80);

// white
// @type color
$color-white: rgb(255, 255, 255);

// light color
// @type color
$color-blue: rgb(52, 152, 219);

// gray
// @type color
$color-gray: rgb(189, 195, 199);


//-------------------------------------------
// Length
//-------------------------------------------

// gap size
// @type length
$size-gap: 20px;

// files part height
// @type length
$height-files-part: 400px;
