                <div class="page-header">
                    <h3>图书详情</h3>
                </div>
                <form action="#" role="form" class="book-profile">
                    <div class="row form-group">
                        <div class="col-xs-8 book-profile-title">
                            <label for="book-profile-title">书籍名称</label>
                            <input name="book-profile-title" type="text" class="form-control" placeholder="书籍名称" />
                        </div>
                        <div class="col-xs-4 book-profile-no">
                            <label for="book-profile-no">书籍编码</label>
                            <input name="book-profile-no" type="text" class="form-control" placeholder="书籍编码" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-6 book-profile-isbn">
                            <label for="book-profile-isbn">ISBN 编码</label>
                            <input type="text" class="form-control" placeholder="ISBN 编码" />
                        </div>
                    </div>
                    <div class="book-profile-actions row">
                        <div class="btn-group col-md-4" role="group">
                            <a class="btn btn-success" href="#">借出</a>
                            <a class="btn btn-success" href="#">归还</a>
                            <a class="btn btn-success" href="#">新增</a>
                        </div>
                    </div>
                </form>
                <div class="book-profile-stats row">
                    <div class="col-md-12">
                        <div class="page-header">
                            <h3>借阅情况</h3>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <td>借阅时间</td>
                                    <td>应归还时间</td>
                                    <td>归还时间</td>
                                    <td>借阅读者</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>2014/10/1</td>
                                    <td>2014/11/5</td>
                                    <td>2014/11/10</td>
                                    <td>张三</td>
                                </tr>
                                <tr>
                                    <td>2014/11/12</td>
                                    <td>2014/12/15</td>
                                    <td>2014/12/1</td>
                                    <td>张三</td>
                                </tr>
                                <tr>
                                    <td>2014/12/5</td>
                                    <td>2015/1/5</td>
                                    <td></td>
                                    <td>张三</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
