                <div class="page-header">
                    <h3>查询条件</h3>
                </div>
                <form action="#" role="form" class="book-query">
                    <div class="row form-group">
                        <div class="col-xs-4">
                            <label for="book-query-title">书籍名称</label>
                            <input name="book-query-title" type="text" class="form-control" placeholder="书籍名称" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-4">
                            <label for="book-query-no">书籍编号</label>
                            <input name="book-query-no" type="text" class="form-control" placeholder="书籍编号" />
                        </div>
                        <div class="col-xs-4">
                            <label for="book-query-isbn">ISBN 编码</label>
                            <input name="book-query-isbn" type="text" class="form-control" placeholder="ISBN 编码" />
                        </div>
                    </div>
                    <div class="book-query-actions row">
                        <div class="btn-group col-md-4" role="group">
                            <a class="btn btn-success" href="#">查询</a>
                        </div>
                    </div>
                </form>
                <div class="book-query-stats row">
                    <div class="col-md-12">
                        <div class="page-header">
                            <h3>查询结果</h3>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <td>书籍名称</td>
                                    <td>书籍编号</td>
                                    <td>借阅情况</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>大学数学</td>
                                    <td>T 12345</td>
                                    <td>已借出</td>
                                </tr>
                                <tr>
                                    <td>大学英语</td>
                                    <td>T 67890</td>
                                    <td><a href="#">可借阅</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
