                <div class="page-header">
                    <h3>新增图书</h3>
                </div>
                <form action="#" role="form" class="book-profile">
                    <div class="row form-group">
                        <div class="col-xs-6 book-profile-title">
                            <label for="book-profile-title">书籍名称</label>
                            <input name="book-profile-title" type="text" class="form-control" placeholder="书籍名称" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-6 book-profile-no">
                            <label for="book-profile-no">书籍编码</label>
                            <input name="book-profile-no" type="text" class="form-control" placeholder="书籍编码" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-6 book-profile-isbn">
                            <label for="book-profile-isbn">ISBN 编码</label>
                            <input name="book-profile-isbn" type="text" class="form-control" placeholder="ISBN 编码" />
                        </div>
                    </div>
                    <div class="book-profile-actions row">
                        <div class="btn-group col-md-4" role="group">
                            <a class="btn btn-success btn-submit">新增</a>
                        </div>
                    </div>
                </form>
