                <div class="page-header">
                    <h3>读者详情</h3>
                </div>
                <form action="#" role="form" class="user-profile">
                    <div class="row form-group">
                        <div class="col-xs-4 user-profile-name">
                            <label for="user-profile-name">姓名</label>
                            <input name="user-profile-name" type="text" class="form-control" placeholder="姓名" />
                        </div>
                    <div class="row form-group">
                    </div>
                        <div class="col-xs-4 user-profile-no">
                            <label for="user-profile-no">学号</label>
                            <input name="user-profile-no" type="text" class="form-control" placeholder="学号" />
                        </div>
                    <div class="row form-group">
                    </div>
                        <div class="col-xs-4 user-profile-faculty">
                            <label for="user-profile-faculty">学院</label>
                            <input name="user-profile-faculty" type="text" class="form-control" placeholder="学院" />
                        </div>
                    </div>
                    <div class="user-profile-actions row">
                        <div class="btn-group col-md-4" role="group">
                            <a class="btn btn-success btn-submit">新增</a>
                        </div>
                    </div>
                </form>
