                <div class="page-header">
                    <h3>读者详情</h3>
                </div>
                <form action="#" role="form" class="user-profile">
                    <div class="row form-group">
                        <div class="col-xs-4 user-profile-title">
                            <label for="user-profile-title">姓名</label>
                            <input name="user-profile-title" type="text" class="form-control" placeholder="张三" />
                        </div>
                        <div class="col-xs-4 user-profile-no">
                            <label for="user-profile-no">学号</label>
                            <input name="user-profile-no" type="text" class="form-control" placeholder="3112005816" />
                        </div>
                        <div class="col-xs-4 user-profile-faculty">
                            <label for="user-profile-isbn">学院</label>
                            <input type="text" class="form-control" placeholder="计算机学院" />
                        </div>
                    </div>
                    <div class="user-profile-actions row">
                        <div class="btn-group col-md-4" role="group">
                            <a class="btn btn-success" href="#">新增</a>
                        </div>
                    </div>
                </form>
                <div class="user-profile-stats row">
                    <div class="col-md-12">
                        <div class="page-header">
                            <h3>持书情况</h3>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <td>书籍名称</td>
                                    <td>书籍编号</td>
                                    <td>借阅时间</td>
                                    <td>应归还时间</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>大学数学</td>
                                    <td>TP 12345</td>
                                    <td>2014/10/1</td>
                                    <td>2014/11/5</td>
                                </tr>
                                <tr>
                                    <td>大学英语</td>
                                    <td>TP 67890</td>
                                    <td>2014/11/12</td>
                                    <td>2014/12/15</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-12">
                        <div class="page-header">
                            <h3>借阅记录</h3>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <td>书籍名称</td>
                                    <td>书籍编号</td>
                                    <td>借阅时间</td>
                                    <td>归还时间</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>大学数学</td>
                                    <td>TP 12345</td>
                                    <td>2014/9/1</td>
                                    <td>2014/10/1</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
