                <div class="page-header">
                    <h3>查询条件</h3>
                </div>
                <form action="#" role="form" class="user-query">
                    <div class="row form-group">
                        <div class="col-xs-4">
                            <label for="user-query-name">读者姓名</label>
                            <input name="user-query-name" type="text" class="form-control" placeholder="读者姓名" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-4">
                            <label for="user-query-no">读者学号</label>
                            <input name="user-query-no" type="text" class="form-control" placeholder="读者学号" />
                        </div>
                        <div class="col-xs-4">
                            <label for="user-query-faculty">读者学院</label>
                            <input name="user-query-faculty" type="text" class="form-control" placeholder="读者学院" />
                        </div>
                    </div>
                    <div class="user-query-actions row">
                        <div class="btn-group col-md-4" role="group">
                            <a class="btn btn-success" href="#">查询</a>
                        </div>
                    </div>
                </form>
                <div class="user-query-stats row">
                    <div class="col-md-12">
                        <div class="page-header">
                            <h3>查询结果</h3>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <td>读者姓名</td>
                                    <td>读者学号</td>
                                    <td>读者学院</td>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
