            <div class="page-header">
                <h3>归还图书</h3>
            </div>
            <form action="#" role="form" class="book-borrow-return-form" data-user-no="<%= user.no %>">
                <div class="row form-group">
                    <div class="col-xs-8">
                        <label for="book-borrow-return-user-name">读者姓名</label>
                        <input name="book-borrow-return-user-name" type="text" class="form-control" placeholder="读者姓名" value="<%= user.name %>" readonly />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-8">
                        <label for="book-borrow-return-book-no">书籍编码</label>
                        <input name="book-borrow-return-book-no" type="text" class="form-control" placeholder="书籍编码" />
                    </div>
                </div>
                <div class="book-borrow-return row">
                    <div class="btn-group col-md-4" role="group">
                        <a class="btn btn-success book-borrow-return-submit">归还</a>
                    </div>
                </div>
            </form>
            <div class="book-borrow-return-stats row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h3>持书情况</h3>
                    </div>
                    <table id="book-borrow-return-user-borrowing" class="table">
                        <thead>
                            <tr>
                                <td>书籍名称</td>
                                <td>书籍编号</td>
                                <td>借阅时间</td>
                                <td>应归还时间</td>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
