#grid {
  width: 100%;

  padding-top: 0;
}

#files {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  height: 50%;
}

#prompt {
  position: absolute;
  top: 53%; 
  left: 15px;
  right: 25px;
  height: 40%;
}
